
#
#
#

[Unit]
Description=file_sync_s3
Documentation=https://github.com/random-python/file_sync_s3

[Service]
Type=simple
ExecStart=/usr/bin/file_sync_s3_service
Restart=on-failure
RestartSec=3
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
